*{
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url(./images/coffee.jpg);
    padding: 200px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.skills-padding{
    padding: 70px 0px;
}